<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
var app = angular.module('myApp', []);

app.factory('itemsFactory', function($http) {
   var factory = {};

   factory.getItems = function () {
    return  $http.get("http://127.0.0.1:8000/snippets/");  
   };

   return factory;
});
app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
  });
app.controller('myCtrl', function($scope, itemsFactory){
  itemsFactory.getItems().then(function(response){
              $scope.items = response.data;
        });

});
</script>

<body>
<div ng-app="myApp" ng-controller="myCtrl"> 
<ul ng-repeat="value in items.results">
<li>[[value.owner]]</li>
<li>[[value.language]]</li>
<li>[[value.id]]</li>
<li>[[value.code]]</li>
</ul>
</div>
</body>
</html>
