<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
  });
app.controller('myCtrl', function($scope, $http) 
{
$http({
  method: 'GET',
  url: "http://127.0.0.1:8000/snippets/"
}).then(function successCallback(response) {
    $scope.info=response.data
  }, function errorCallback(response) {
    $scope.info=response.statusText
  });
});
</script>

<body>
<div ng-app="myApp" ng-controller="myCtrl"> 
<ul ng-repeat="value in info.results">
<li>[[value.owner]]</li>
<li>[[value.language]]</li>
<li>[[value.id]]</li>
<li>[[value.code]]</li>
</ul>
</div>
</body>
</html>
